Repository piepworks/cassettenest: changes, and which pre-commit hooks are due for each by the changed paths.
All: pending-migrations, stylelint, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        exclude: |
          (?x)^(
            inventory/migrations/.*
          )$
  - repo: local
    hooks:
      - id: pending-migrations
        name: Check for pending migrations
        language: system
        entry: venv/bin/python manage.py makemigrations --check --dry-run
        types: [python]
        pass_filenames: false
      - id: stylelint
        name: Run Stylelint
        language: system
        entry: npx stylelint "tailwind/main.css"
        types: [css]
        pass_filenames: false
      - id: eslint
        name: Run ESLint
        language: system
        entry: npx eslint --ext .js ./inventory/templates/js
        types: [javascript]
        pass_filenames: false

Replace all the `dev/…` commands with `just`
  README.md
  dev/bootstrap
  dev/coverage
  dev/coverage-html
  dev/generate-django-key
  dev/pytest
  dev/setup-venv
  dev/shell
  dev/start-tw
  dev/static
  dev/update-a-package
  dev/update-packages
  dev/update-venv
  justfile
Due: none

Update stuff
  requirements.txt
Due: none

Update stuff
  package-lock.json
  requirements.txt
Due: none

Update Playwright snapshots
  e2e/patterns-page.spec.js-snapshots/patterns-dark-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-firefox-darwin.png
Due: none

Make Zed's Python warnings go away
  pyproject.toml
Due: none

Stock slug needs to be unique
  inventory/migrations/0089_alter_stock_slug.py
  inventory/models.py
Due: pending-migrations

Fix logout
  inventory/templates/inventory/_nav-status.html
  tailwind/main.css
Due: stylelint

Fix Fly deploy again
  Dockerfile
Due: none

Update stuff
  e2e/patterns-page.spec.js-snapshots/patterns-dark-webkit-darwin.png
  package-lock.json
  requirements.txt
Due: none

Updates
  package-lock.json
  requirements.txt
Due: none

Updates
  package-lock.json
  package.json
  requirements.txt
Due: none

Add user deactivate/activate bulk admin actions
  inventory/admin.py
Due: pending-migrations

Add username to password reset email
  inventory/templates/registration/password_reset_email.html
Due: none

Add a `ready/`-like table to inventory
  inventory/templates/components/inventory-table.html
  inventory/templates/inventory/_inventory-content.html
  inventory/views.py
Due: pending-migrations

Updates
  e2e/patterns-page.spec.js-snapshots/patterns-dark-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-webkit-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-webkit-darwin.png
  package-lock.json
  requirements.txt
Due: none

Remove outdated Linux screenshots
  e2e/patterns-page.spec.js-snapshots/patterns-dark-chromium-linux.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-firefox-linux.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-webkit-linux.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-chromium-linux.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-firefox-linux.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-webkit-linux.png
Due: none

Updates
  e2e/patterns-page.spec.js-snapshots/patterns-dark-webkit-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-webkit-darwin.png
  package-lock.json
  requirements.txt
Due: none

Make justfile nicer
  justfile
  package.json
Due: none

I think the Playwright masks are working again
  e2e/patterns-page.spec.js-snapshots/patterns-dark-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-webkit-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-webkit-darwin.png
  inventory/templates/base_site.html
Due: none

Install honeypot on registration page
  film/settings.py
  inventory/templates/django_registration/registration_form.html
  inventory/tests/test_views.py
  inventory/views.py
  requirements.in
  requirements.txt
Due: pending-migrations

Remove debugging bits
  inventory/views.py
Due: pending-migrations

VS Code adjustment
  .vscode/settings.json
Due: none

Updates
  justfile
  package-lock.json
  requirements.txt
Due: none
