Repository piepworks/cassettenest: changes, and which pre-commit hooks are due for each by the changed paths.
All: pending-migrations, stylelint, eslint

pending-migrations:
  name: check for pending migrations
  language: system
  entry: venv/bin/python manage.py makemigrations --check --dry-run
  pass_filenames: false

stylelint:
  name: run Stylelint
  language: system
  entry: npx stylelint "theme/tailwind.css"
  pass_filenames: false

eslint:
  name: run ESLint
  language: system
  entry: npx eslint --ext .js ./
  pass_filenames: false

Update copyright in README.
  README.md
Due: none

Add more hooks from the installation instructions.
  .pre-commit-config.yaml
Due: none

Sentence case!
  .pre-commit-config.yaml
Due: none

Fix ESLint path.
  .pre-commit-config.yaml
Due: none

Install black for VS code auto-formatting.
  requirements.in
  requirements.txt
Due: none

Keep track of VSCode stuff.
  .gitignore
  .vscode/settings.json
Due: none

Fix package versions.
  package-lock.json
  package.json
Due: none

Getting auto-formatting to play nice.
  .vscode/settings.json
Due: none

Another bit of configuration from Lists of Books.
  pyproject.toml
Due: none

Fix JS formatting.
  inventory/templates/js/markdown-autocomplete.js
  inventory/templates/js/menu.js
Due: eslint

Install and configure Flake8.
  .pre-commit-config.yaml
  requirements.in
  requirements.txt
  setup.cfg
Due: none

Un-break DigitalOcean build.
  package-lock.json
  package.json
Due: none

Update Python stuff.
  requirements.txt
Due: none

Update JS stuff.
  package-lock.json
Due: none

Rename Tailwind file.
  .github/dependabot.yml
  .gitignore
  .pre-commit-config.yaml
  package.json
  tailwind/main.css
Due: stylelint

Update Stylelint to work with Tailwind `theme()`.
  .stylelintrc.js
Due: eslint

Clean up some Tailwind.
  inventory/templates/_menu.html
  tailwind/main.css
Due: stylelint

Create profile field for for color preference.
  inventory/forms.py
  inventory/migrations/0081_profile_color_preference.py
  inventory/models.py
Due: pending-migrations

Update Tailwind.
  package-lock.json
  package.json
Due: none

Get light/dark mode switcher to work.
  inventory/forms.py
  inventory/templates/base_site.html
  inventory/views.py
  tailwind.config.js
Due: pending-migrations, eslint

Add help text for color preference.
  inventory/migrations/0082_alter_profile_color_preference.py
  inventory/models.py
Due: pending-migrations

Get test to pass.
  inventory/tests/views.py
Due: pending-migrations

Add link to users page on new user email.
  inventory/views.py
Due: pending-migrations

Update JS stuff.
  package-lock.json
  package.json
Due: none

Proper h1 tag on empty ready/ page.
  inventory/templates/inventory/ready.html
Due: none

Fix twitchy button placement on mobile.
  inventory/templates/components/logbook-update-form.html
  inventory/templates/partials/logbook-update-buttons.html
Due: none

Make URL fields match other text inputs.
  inventory/forms.py
  tailwind/main.css
Due: pending-migrations, stylelint

Update README.
  README.md
Due: none

Update README some more.
  README.md
Due: none

Path conditions:
  pending-migrations: any of: \.py$
  stylelint: any of: \.css$
  eslint: any of: \.(js|mjs|cjs)$
