Repository piepworks/cassettenest: changes, and which pre-commit hooks are due for each by the changed paths.
All: pending-migrations, stylelint, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        exclude: |
          (?x)^(
            inventory/migrations/.*
          )$
  - repo: local
    hooks:
      - id: pending-migrations
        name: Check for pending migrations
        language: system
        entry: venv/bin/python manage.py makemigrations --check --dry-run
        types: [python]
        pass_filenames: false
      - id: stylelint
        name: Run Stylelint
        language: system
        entry: npx stylelint "tailwind/main.css"
        types: [css]
        pass_filenames: false
      - id: eslint
        name: Run ESLint
        language: system
        entry: npx eslint --ext .js ./inventory/templates/js
        types: [javascript]
        pass_filenames: false

Update the camera picker on project detail page
  e2e/patterns-page.spec.js-snapshots/patterns-dark-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-webkit-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-webkit-darwin.png
  e2e/start-django.sh
  inventory/fields.py
  inventory/forms.py
  inventory/templates/inventory/_project-add-camera.html
  inventory/views.py
Due: pending-migrations

Grouped dropdowns galore!
  inventory/fields.py
  inventory/forms.py
  inventory/migrations/0086_alter_camera_options_alter_project_options.py
  inventory/models.py
Due: pending-migrations

Fix failing tests
  inventory/forms.py
  inventory/tests/test_views.py
Due: pending-migrations

I guess we don't need that anymore.
  inventory/fields.py
Due: pending-migrations

We'll keep those for now
  inventory/views.py
Due: pending-migrations

Update stuff
  package-lock.json
  requirements.txt
Due: none

Adjust project filtering on camera/back load form
  inventory/views.py
Due: pending-migrations

Get rid of deprecation warning
  Dockerfile
Due: none

Fix adding and removing cameras from a project
  inventory/templates/components/card.html
  inventory/templates/inventory/_card.html
  inventory/tests/test_views.py
  inventory/views.py
Due: pending-migrations

Create a link to add a roll to logbook
  inventory/templates/inventory/logbook.html
Due: none

Don't require camera on a roll
  inventory/forms.py
Due: pending-migrations

Allow removing rolls from a project…
  inventory/templates/components/card.html
  inventory/templates/inventory/_unused-rolls.html
  tailwind/main.css
Due: stylelint

More subtle styling for remove item from project
  inventory/templates/components/card.html
  inventory/templates/inventory/_unused-rolls.html
  tailwind/main.css
Due: stylelint

Make axe DevTools happy by adding content to <th>
  inventory/templates/inventory/_unused-rolls.html
Due: none

Make axe happy by not skipping headers
  inventory/templates/components/section.html
Due: none

Add testing shortcut
  dev/pytest
Due: none

Close menu whenever clicking menu links
  inventory/templates/inventory/_logo.html
  inventory/templates/inventory/_nav-status.html
Due: none

Get rid of console error
  inventory/templates/js/confirmation.js
Due: eslint

Different take on closing menu on back/forward
  inventory/templates/inventory/_nav-status.html
  inventory/templates/js/menu.js
Due: eslint

Output some info to my pytest script
  dev/pytest
Due: none

Update stuff
  requirements.txt
Due: none

Create new FF snapshots
  e2e/patterns-page.spec.js-snapshots/patterns-dark-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-firefox-darwin.png
Due: none

Replace greater-thans with svg chevrons
  inventory/templates/inventory/_film-name-display.html
  inventory/templates/inventory/_stocks-content.html
  inventory/templates/inventory/stock.html
  inventory/templates/svg/heroicons/chevron-right.svg
Due: none

Add grain from marketing site & a light version
  static/img/grain-light.png
  static/img/grain.png
  tailwind/main.css
Due: stylelint

Less intense grain for dark backgrounds
  static/img/grain-dark-1.png
  static/img/grain-dark-2.png
  tailwind/main.css
Due: stylelint

Start adding Ko-fi webhook integration
  film/urls.py
  inventory/views.py
Due: pending-migrations

Remove the `v4` from the footer
  e2e/patterns-page.spec.js-snapshots/patterns-dark-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-webkit-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-webkit-darwin.png
  inventory/templates/base_site.html
Due: none

Format-on-save changes
  .stylelintrc.js
  postcss.config.js
Due: eslint

Add version meta tag
  inventory/templates/base_site.html
Due: none

Clean up logic, check for verification token
  film/settings.py
  inventory/views.py
Due: pending-migrations

Get PR tests to pass hopefully
  .github/workflows/django.yml
  .github/workflows/playwright.yml
Due: none

Remove all the Paddle/subscription stuff
  .eslintrc.js
  .github/workflows/django.yml
  .github/workflows/playwright.yml
  README.md
  e2e/patterns-page.spec.js-snapshots/patterns-dark-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-webkit-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-webkit-darwin.png
  example-local.env
  example-prod.env
  film/settings.py
  film/urls.py
  inventory/admin.py
  inventory/context_processors.py
  inventory/decorators.py
  inventory/migrations/0087_remove_profile_friend_and_more.py
  inventory/models.py
  inventory/templates/account-inactive.html
  inventory/templates/base_site.html
  inventory/templates/inventory/_inventory-content.html
  inventory/templates/inventory/_onboarding.html
  inventory/templates/inventory/_settings-subscription-js.html
  inventory/templates/inventory/_settings-subscription-plans.html
  inventory/templates/inventory/_settings-subscription-update.html
  inventory/templates/inventory/_settings-subscription.html
  inventory/templates/inventory/index.html
  inventory/templates/inventory/restricted.html
  inventory/templates/inventory/settings.html
  inventory/templates/patterns.html
  inventory/tests/test_models.py
  inventory/tests/test_views.py
  inventory/utils.py
  inventory/utils_paddle.py
  inventory/views.py
  tailwind/main.css
Due: pending-migrations, stylelint, eslint

Change logout icon
  inventory/templates/inventory/_nav-status.html
Due: none
