Repository piepworks/cassettenest: changes, and which pre-commit hooks are due for each by the changed paths.
All: pending-migrations, stylelint, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.10

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pending-migrations
        name: check for pending migrations
        language: system
        entry: venv/bin/python manage.py makemigrations --check --dry-run
        types: [python]
        pass_filenames: false
      - id: stylelint
        name: run Stylelint
        language: system
        entry: npx stylelint "theme/tailwind.css"
        types: [css]
        pass_filenames: false
      - id: eslint
        name: run ESLint
        language: system
        entry: npx eslint --ext .js ./
        types: [javascript]
        pass_filenames: false

Update Python stuff.
  requirements.txt
Due: none

Fix nested htmx stuff, add inventory spinner.
  inventory/templates/inventory/_inventory-content.html
  inventory/templates/inventory/_unused-rolls.html
  inventory/templates/inventory/inventory.html
  inventory/templates/partials/htmx-indicator.html
  tailwind/main.css
Due: stylelint

Prevent SVGs from being huge…
  inventory/templates/base_site.html
Due: none

Set up a more universal htmx fade effect.
  inventory/templates/base_site.html
  inventory/templates/inventory/_unused-rolls.html
  inventory/templates/inventory/inventory.html
  inventory/templates/js/htmx-fade.js
Due: eslint

Add spinners on homepage sections.
  inventory/templates/components/section.html
Due: none

Add spinner to stocks page.
  inventory/templates/inventory/_stocks-content.html
  inventory/templates/inventory/stocks.html
Due: none

Adjust spinner colors.
  inventory/templates/partials/htmx-indicator.html
Due: none

Spinner on logbook filters.
  inventory/templates/components/tabs.html
  inventory/templates/partials/htmx-indicator.html
  inventory/templates/partials/logbook-page-data.html
Due: none

Add spinner on logbook pagination.
  inventory/templates/components/logbook-pagination.html
  inventory/templates/components/logbook-table.html
  inventory/templates/partials/htmx-indicator.html
Due: none

Trigger spinner when clicking "Film Stocks."
  inventory/templates/inventory/_stocks-content.html
Due: none

Stock/inventory spinners fit on small screens.
  inventory/templates/inventory/_inventory-content.html
  inventory/templates/inventory/_stocks-content.html
  inventory/templates/inventory/inventory.html
Due: none

Fix dark mode printing in Safari.
  tailwind/main.css
Due: stylelint

Update JS stuff.
  package-lock.json
  package.json
Due: none

Update Django and other things.
  film/settings.py
  inventory/migrations/0083_alter_profile_timezone.py
  requirements.in
  requirements.txt
Due: pending-migrations

Color preference field is going to require JS.
  inventory/migrations/0084_alter_profile_color_preference.py
  inventory/models.py
  inventory/templates/inventory/settings.html
  tailwind/main.css
Due: pending-migrations, stylelint

Auto works immediately, mode preview on settings.
  .eslintrc.js
  inventory/templates/base_site.html
  inventory/templates/inventory/settings.html
  inventory/templates/js/color-preference.js
Due: eslint

Default to dark.
  inventory/templates/base_site.html
Due: none

Update Tailwind settings.
  tailwind.config.js
Due: eslint

Remove unused projects and cameras views.
  film/urls.py
  inventory/templates/inventory/cameras.html
  inventory/templates/inventory/projects.html
  inventory/views.py
Due: pending-migrations

Remove a bunch of old .raw divs.
  inventory/templates/inventory/camera_add.html
  inventory/templates/inventory/camera_back_add.html
  inventory/templates/inventory/camera_back_edit.html
  inventory/templates/inventory/camera_edit.html
  inventory/templates/inventory/project_add_edit.html
  inventory/templates/inventory/roll_edit.html
  inventory/templates/inventory/roll_journal_add_edit.html
Due: none

Fix tests after removing pages and views.
  inventory/tests/views.py
  inventory/views.py
Due: pending-migrations

Fix year style on edit roll title.
  inventory/templates/inventory/roll_edit.html
Due: none

Update camera back detail to match camera detail.
  inventory/templates/inventory/_camera-loaded.html
  inventory/templates/inventory/_heading-back.html
  inventory/templates/inventory/camera_back_detail.html
  inventory/templates/inventory/camera_detail.html
  inventory/templates/inventory/project_detail.html
Due: none

Don't try to load unavailable backs.
  inventory/models.py
  inventory/views.py
Due: pending-migrations

Notes field on add rolls to storage form.
  inventory/forms.py
  inventory/templates/inventory/rolls_add.html
  inventory/tests/views.py
  inventory/views.py
Due: pending-migrations

Clean up project detail roll, camera forms.
  inventory/templates/inventory/_project-add-camera.html
  inventory/templates/inventory/_project-add-rolls.html
  inventory/templates/inventory/project_detail.html
Due: none

Fix stepper styles.
  tailwind/main.css
Due: stylelint

Update htmx and hyperscript.
  inventory/templates/base_site.html
  static/js/vendor/htmx-1.8.4.min.js
  static/js/vendor/htmx-1.8.6.min.js
  static/js/vendor/hyperscript-0.9.7.min.js
  static/js/vendor/hyperscript-0.9.8.min.js
Due: eslint

Update pre-commit stuff.
  .pre-commit-config.yaml
Due: none

Fix some nasty HTML.
  inventory/templates/components/form-field.html
  inventory/templates/inventory/camera_back_detail.html
  inventory/templates/inventory/camera_detail.html
  inventory/templates/inventory/film_rolls.html
  inventory/templates/inventory/project_detail.html
  inventory/templates/inventory/roll_detail.html
  inventory/templates/inventory/roll_frame_detail.html
  inventory/templates/inventory/roll_journal_detail.html
  tailwind/main.css
Due: stylelint

Fix Markdown autocomplete on rolls add form.
  inventory/templates/inventory/rolls_add.html
  inventory/views.py
Due: pending-migrations

Dark, disabled button bg for frame to frame nav.
  tailwind/main.css
Due: stylelint

Update JS stuff.
  package-lock.json
Due: none

Fix select dropdown blink on iOS.
  inventory/templates/components/section.html
Due: none

Don't run service worker locally.
  inventory/templates/base_site.html
Due: none

Replace complex template logic with proper form.
  inventory/forms.py
  inventory/templates/inventory/_form-load-camera.html
  inventory/views.py
Due: pending-migrations
