Repository piepworks/cassettenest: changes, and which pre-commit hooks are due for each by the changed paths.
All: pending-migrations, stylelint, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        exclude: |
          (?x)^(
            inventory/migrations/.*
          )$
  - repo: local
    hooks:
      - id: pending-migrations
        name: Check for pending migrations
        language: system
        entry: venv/bin/python manage.py makemigrations --check --dry-run
        types: [python]
        pass_filenames: false
      - id: stylelint
        name: Run Stylelint
        language: system
        entry: npx stylelint "tailwind/main.css"
        types: [css]
        pass_filenames: false
      - id: eslint
        name: Run ESLint
        language: system
        entry: npx eslint --ext .js ./inventory/templates/js
        types: [javascript]
        pass_filenames: false

Remove comment with typo
  inventory/views.py
Due: pending-migrations

Catch error with non-unique camera name
  inventory/views.py
Due: pending-migrations

Make 500 error page look less raw
  inventory/templates/500.html
Due: none

Updates
  package-lock.json
  requirements.txt
Due: none

Updates
  e2e/patterns-page.spec.js-snapshots/patterns-dark-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-firefox-darwin.png
  package-lock.json
  requirements.txt
Due: none

Fix loaded on date for cameras on dashboard
  inventory/templates/components/card.html
Due: none

Django security update
  requirements.txt
Due: none

Get VS Code to run tests
  .vscode/settings.json
Due: none

Updates and minor adjustments
  .eslintignore
  .pre-commit-config.yaml
  eslint.config.js
  package-lock.json
  playwright.config.js
  requirements.txt
Due: eslint

Update email address
  inventory/utils.py
Due: pending-migrations

Make sure SQLite installs without a prompt.
  Dockerfile
Due: none

Updates.
  package-lock.json
  requirements.txt
Due: none

Fix registration.
  film/urls.py
  inventory/templates/django_registration/activation_complete.html
  inventory/templates/django_registration/activation_email_body.txt
  inventory/templates/django_registration/activation_form.html
Due: pending-migrations

Automatically log in after activation.
  film/urls.py
  inventory/templates/django_registration/activation_form.html
  inventory/views.py
Due: pending-migrations

Hide input field.
  inventory/templates/django_registration/activation_form.html
Due: none

Clean up email messages.
  inventory/views.py
Due: pending-migrations

Prevent debug toolbar messing things up.
  playwright.config.js
Due: eslint

Update stylelint and fix updated rules.
  .stylelintrc.js
  package-lock.json
  package.json
Due: eslint

Updates, update one Firefox screenshot.
  e2e/patterns-page.spec.js-snapshots/patterns-dark-firefox-darwin.png
  package-lock.json
  requirements.txt
Due: none

Remove Plausible.
  inventory/templates/base_site.html
Due: none

Update GitHub workflow.
  .github/workflows/django.yml
Due: none

Manually update Tailwind.
  .vscode/settings.json
  package-lock.json
  package.json
  postcss.config.js
  tailwind/main.css
Due: stylelint, eslint
