Repository piepworks/cassettenest: changes, and which pre-commit hooks are due for each by the changed paths.
All: pending-migrations, stylelint, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.10

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pending-migrations
        name: check for pending migrations
        language: system
        entry: venv/bin/python manage.py makemigrations --check --dry-run
        types: [python]
        pass_filenames: false
      - id: stylelint
        name: run Stylelint
        language: system
        entry: npx stylelint "theme/tailwind.css"
        types: [css]
        pass_filenames: false
      - id: eslint
        name: run ESLint
        language: system
        entry: npx eslint --ext .js ./
        types: [javascript]
        pass_filenames: false

Start to convert push/pull field to a stepper.
  inventory/forms.py
  inventory/templates/components/form-stepper-field.html
Due: pending-migrations

Make the fancy push_pull thing actually work!
  inventory/forms.py
  inventory/migrations/0085_alter_roll_push_pull.py
  inventory/models.py
  inventory/views.py
Due: pending-migrations

Add count back to the grouped dropdown.
  inventory/forms.py
Due: pending-migrations

100% coverage for view and form stuff.
  inventory/tests/views.py
Due: pending-migrations

Test the push_pull fanciness.
  inventory/tests/models.py
  inventory/tests/views.py
Due: pending-migrations

Update Python stuff.
  requirements.txt
Due: none

Fix Codecov links.
  README.md
Due: none

Adjust Film admin.
  inventory/admin.py
Due: pending-migrations

Update JS stuff.
  package-lock.json
  package.json
Due: none

Reverse order of years on logbook.
  inventory/views.py
Due: pending-migrations

Set default size for logo without CSS.
  inventory/templates/inventory/_logo.html
  inventory/templates/registration/base.html
Due: none

Set default size for other SVGs.
  inventory/templates/inventory/_github-icon.html
  inventory/templates/partials/htmx-indicator.html
  inventory/templates/svg/circle.svg
  inventory/templates/svg/heroicons/adjustments-horizontal.svg
  inventory/templates/svg/heroicons/beaker.svg
  inventory/templates/svg/heroicons/bolt.svg
  inventory/templates/svg/heroicons/book.svg
  inventory/templates/svg/heroicons/check-circle-outline.svg
  inventory/templates/svg/heroicons/check-circle.svg
  inventory/templates/svg/heroicons/chevron-left.svg
  inventory/templates/svg/heroicons/chevron-right.svg
  inventory/templates/svg/heroicons/clipboard-list.svg
  inventory/templates/svg/heroicons/exclamation.svg
  inventory/templates/svg/heroicons/film.svg
  inventory/templates/svg/heroicons/hand.svg
  inventory/templates/svg/heroicons/home.svg
  inventory/templates/svg/heroicons/information-circle.svg
  inventory/templates/svg/heroicons/menu.svg
  inventory/templates/svg/heroicons/paper-clip.svg
  inventory/templates/svg/heroicons/plus.svg
  inventory/templates/svg/heroicons/shield-check.svg
  inventory/templates/svg/heroicons/x-circle.svg
  inventory/templates/svg/heroicons/x.svg
Due: none

Fix dark mode JS.
  .eslintrc.js
  inventory/templates/inventory/settings.html
  inventory/templates/js/color-preference.js
Due: eslint

Fix JS errors on inventory page.
  inventory/templates/inventory/inventory.html
Due: none

Prevent duplicate event listeners.
  inventory/templates/base_site.html
  inventory/templates/js/menu.js
Due: eslint

I don't think that's the right solution.
  inventory/templates/components/section.html
Due: none

Remove redundant manufacturer column.
  inventory/templates/components/film.html
  inventory/templates/inventory/_unused-rolls.html
Due: none

Don't allow editing a camera from load page.
  inventory/templates/inventory/camera_or_back_load.html
Due: none

Prevent the double bounce on htmx selects!
  inventory/templates/components/section.html
  inventory/templates/components/tabs.html
  inventory/templates/inventory/_inventory-content.html
  inventory/templates/inventory/_stocks-content.html
Due: none

Fix ids and label text on that form.
  inventory/templates/components/tabs.html
Due: none

Update JS stuff.
  package-lock.json
Due: none

Icon on login / pw change goes to marketing site.
  inventory/templates/registration/base.html
Due: none

Fix roll edit.
  inventory/utils.py
  inventory/views.py
Due: pending-migrations

Fix roll add.
  inventory/forms.py
  inventory/templates/inventory/roll_add.html
  inventory/tests/views.py
  inventory/views.py
Due: pending-migrations

Make sure roll add form works after error.
  inventory/views.py
Due: pending-migrations

Improve test coverage.
  inventory/tests/views.py
  inventory/views.py
Due: pending-migrations

Fix styling of dev info on roll detail page.
  inventory/templates/inventory/roll_detail.html
Due: none

Adjust link colors in messages.
  inventory/views.py
  tailwind/main.css
Due: pending-migrations, stylelint

Update Python stuff again.
  requirements.txt
Due: none

Fix loading a camera!
  inventory/forms.py
Due: pending-migrations

Install pytest-django.
  requirements.in
  requirements.txt
Due: none

Get pytest to pass all existing tests.
  film/settings.py
  inventory/tests/__init__.py
  inventory/tests/test_admin.py
  inventory/tests/test_forms.py
  inventory/tests/test_models.py
  inventory/tests/test_views.py
  pyproject.toml
Due: pending-migrations

Get coverage to use pytest.
  .github/workflows/django-coverage.yml
  dev/coverage
Due: none

Install pytest-xdist.
  .github/workflows/django-coverage.yml
  dev/coverage
  inventory/tests/test_forms.py
  requirements.in
  requirements.txt
Due: pending-migrations

Ignore warning I can't fix.
  pyproject.toml
Due: none

Don't use pytest-xdist on GitHub.
  .github/workflows/django-coverage.yml
Due: none
