Repository piepworks/cassettenest: changes, and which pre-commit hooks are due for each by the changed paths.
All: pending-migrations, stylelint, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        exclude: |
          (?x)^(
            inventory/migrations/.*
          )$
  - repo: local
    hooks:
      - id: pending-migrations
        name: Check for pending migrations
        language: system
        entry: venv/bin/python manage.py makemigrations --check --dry-run
        types: [python]
        pass_filenames: false
      - id: stylelint
        name: Run Stylelint
        language: system
        entry: npx stylelint "tailwind/main.css"
        types: [css]
        pass_filenames: false
      - id: eslint
        name: Run ESLint
        language: system
        entry: npx eslint --ext .js ./inventory/templates/js
        types: [javascript]
        pass_filenames: false

Update version numbers
  inventory/templates/base_site.html
  package-lock.json
  package.json
Due: none

Add Ko-fi link to footer
  e2e/patterns-page.spec.js-snapshots/patterns-dark-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-webkit-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-webkit-darwin.png
  inventory/templates/base_site.html
  inventory/templates/svg/ko-fi.svg
Due: none

Update links between registration and login pages
  e2e/login-page.spec.js
  inventory/templates/django_registration/registration_form.html
  inventory/templates/registration/login.html
  inventory/tests/test_ui.py
Due: pending-migrations, eslint

Add donation box to settings page
  inventory/templates/inventory/settings.html
Due: none

Ko-fi webhook functionality
  inventory/migrations/0088_profile_donation.py
  inventory/models.py
  inventory/views.py
Due: pending-migrations

Remove more subscription-related stuff
  film/urls.py
  inventory/templates/inventory/camera_back_detail.html
  inventory/templates/inventory/camera_detail.html
  inventory/templates/inventory/project_detail.html
  inventory/templates/inventory/roll_detail.html
  inventory/templates/inventory/roll_frame_detail.html
  inventory/templates/inventory/roll_journal_detail.html
  inventory/views.py
Due: pending-migrations

Add tests for Ko-fi webhook
  inventory/tests/test_views.py
Due: pending-migrations

Display donation thank you message
  inventory/templates/inventory/settings.html
Due: none

Add KOFI_VERIFICATION_TOKEN to examples
  example-local.env
  example-prod.env
Due: none

Add donation info to User admin
  inventory/admin.py
Due: pending-migrations

Update stuff
  package-lock.json
  requirements.txt
Due: none

Remove social media image thing
  inventory/templates/base_site.html
Due: none

Do your thing, VS Code
  .vscode/settings.json
Due: none

Django 5.0!
  film/settings.py
  requirements.txt
Due: pending-migrations

Update JS stuff
  package-lock.json
  package.json
Due: none

Set pre-commit to not need to adjust vendor stuff
  .pre-commit-config.yaml
Due: none

Adjust print styles
  .stylelintrc.js
  inventory/templates/_hamburger.html
  inventory/templates/base_site.html
  tailwind/main.css
Due: stylelint, eslint

Adjust spacing on roll detail frames
  inventory/templates/inventory/roll_detail.html
  tailwind/main.css
Due: stylelint

Wrestling with print styles
  inventory/templates/base_site.html
  inventory/templates/inventory/roll_detail.html
  tailwind/main.css
Due: stylelint

Page break before frames when printing
  inventory/templates/base_site.html
  inventory/templates/inventory/roll_detail.html
Due: none

Tidy up link printing
  tailwind/main.css
Due: stylelint

Start to figure out how to condense frame table
  inventory/templates/inventory/roll_detail.html
  inventory/views.py
Due: pending-migrations

Get all the new frame structure on the page
  inventory/templates/components/frame-row.html
  inventory/templates/inventory/roll_detail.html
  tailwind/main.css
Due: stylelint

Update htmx and hyperscript
  inventory/templates/base_site.html
  static/js/vendor/htmx-1.9.10.min.js
  static/js/vendor/htmx-1.9.2.min.js
  static/js/vendor/hyperscript-0.9.12.min.js
  static/js/vendor/hyperscript-0.9.9.min.js
Due: eslint

Show and hide nested frame rows
  inventory/templates/components/frame-row.html
  inventory/templates/inventory/roll_detail.html
Due: none

Update nested row styles
  tailwind/main.css
Due: stylelint

Improve test coverage for this PR
  inventory/tests/test_views.py
  inventory/views.py
Due: pending-migrations

Clean up a bit
  inventory/templates/components/frame-row.html
  inventory/templates/inventory/roll_detail.html
Due: none

Only toggle frames related to the clicked range
  inventory/templates/components/frame-row.html
  inventory/templates/inventory/roll_detail.html
Due: none

Remove a variable from template context
  inventory/templates/inventory/roll_detail.html
  inventory/views.py
Due: pending-migrations

Adjust frame border styles
  tailwind/main.css
Due: stylelint

Update stuff
  package-lock.json
  package.json
  requirements.txt
Due: none

Fix Fly deploy
  Dockerfile
Due: none

Fix sidebar color on dark screens
  tailwind/main.css
Due: stylelint

Update URLs
  package.json
Due: none

New year, new Playwright mask
  e2e/patterns-page.spec.js
  e2e/patterns-page.spec.js-snapshots/patterns-dark-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-webkit-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-webkit-darwin.png
  inventory/templates/base_site.html
Due: eslint
