Repository piepworks/cassettenest: changes, and which pre-commit hooks are due for each by the changed paths.
All: pending-migrations, stylelint, eslint

pending-migrations:
  name: Check for pending migrations
  language: system
  entry: venv/bin/python manage.py makemigrations --check --dry-run
  pass_filenames: false

stylelint:
  name: Run Stylelint
  language: system
  entry: npx stylelint "tailwind/main.css"
  pass_filenames: false

eslint:
  name: Run ESLint
  language: system
  entry: npx eslint --ext .js ./inventory/templates/js
  pass_filenames: false

Install S3cmd on Fly
  Dockerfile
Due: none

Get daily backups (hopefully) working
  Dockerfile
  crontab
  example-prod.env
  fly/backup.sh
  fly/start.sh
Due: none

Update hostname middleware
  inventory/middleware.py
Due: pending-migrations

Update Node
  .nvmrc
  package.json
Due: none

Fix up S3/Spaces bits
  crontab
  fly/backup.sh
  fly/spaces-lifecycle.json
  fly/start.sh
Due: none

Let's call this v4
  inventory/templates/base_site.html
  package.json
Due: none

Simplify instructions
  .dockerignore
  .gitignore
  README.md
  dev/start
Due: none

Update JS stuff and fix "dj" shortcut
  package-lock.json
  package.json
Due: none

Delete standalone Playwright workflow for now
  .github/workflows/playwright.yml
Due: none

Update workflow name and update Node version
  .github/workflows/tests-and-coverage.yml
Due: none

Remove unused stuff
  e2e/example.spec.js
  e2e/signup.spec.ts
  runtime.txt
  tests-examples/demo-todo-app.spec.js
  tests-examples/demo-todo-app.spec.ts
Due: eslint

That Sentry error is still happening.
  inventory/context_processors.py
Due: pending-migrations

Start to set up Playwright for real
  .gitignore
  e2e/example.spec.js
  inventory/tests/conftest.py
  inventory/tests/test_ui.py
  package-lock.json
  package.json
  playwright.config.js
  requirements.in
  requirements.txt
  tests-examples/demo-todo-app.spec.js
Due: pending-migrations, eslint

Don't run Playwright tests by default.
  .github/workflows/tests-and-coverage.yml
  README.md
  inventory/tests/conftest.py
  inventory/tests/test_ui.py
Due: pending-migrations

Try fixing a Sentry error coming from Playwright
  inventory/context_processors.py
Due: pending-migrations

Test registration
  inventory/tests/test_ui.py
Due: pending-migrations

Let's see if we can get a screenshot of the error.
  .github/workflows/tests-and-coverage.yml
Due: none

Try to verify the problem.
  inventory/templates/base_site.html
Due: none

Problem (hopefully) fixed!
  inventory/context_processors.py
  inventory/templates/base_site.html
  inventory/tests/test_ui.py
Due: pending-migrations

Get static assets to show up in Playwright.
  film/settings_playwright.py
  pyproject.toml
Due: pending-migrations

Create an error to see if CSS works on GitHub
  inventory/tests/test_ui.py
Due: pending-migrations

It worked! 🎉
  inventory/tests/test_ui.py
Due: pending-migrations

Set up Playwright again for JS
  .github/workflows/playwright.yml
  e2e/example.spec.js
  tests-examples/demo-todo-app.spec.js
Due: eslint

Add Prettier config from Blaze.horse
  .prettierrc.json
Due: none

Run Django server via JS tests!
  e2e/example.spec.js
  playwright.config.js
  playwright.config.ts
Due: eslint

Ok, let's see if the GitHub action works
  .github/workflows/django.yml
  .github/workflows/playwright.yml
Due: none

That worked! Let's see if we can share the env
  .github/workflows/playwright.yml
Due: none

Let's see what a screenshot on GitHub looks like
  .github/workflows/playwright.yml
  e2e/example.spec.js
Due: eslint

Format JS on save
  .vscode/settings.json
Due: none

Adjust Tailwind crap for patterns page
  inventory/templates/base_site.html
Due: none

Run with debug mode off.
  playwright.config.js
Due: eslint

Set up visual regression testing for patterns
  e2e/patterns-page.spec.js
  e2e/patterns-page.spec.js-snapshots/patterns-dark-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-webkit-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-webkit-darwin.png
Due: eslint

Let's just do snapshots locally
  .github/workflows/playwright.yml
Due: none

Run Playwright on pre-commit
  .pre-commit-config.yaml
Due: none

Set up auth in Playwright, fix patterns page
  .github/workflows/playwright.yml
  .gitignore
  e2e/auth.setup.js
  e2e/example.spec.js
  e2e/patterns-page.spec.js
  e2e/patterns-page.spec.js-snapshots/patterns-dark-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-webkit-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-webkit-darwin.png
  e2e/start-django.sh
  inventory/views.py
  package-lock.json
  package.json
  playwright.config.js
Due: pending-migrations, eslint

I think we're gonna keep Playwright out of Pytest
  pyproject.toml
Due: none

Clean up what started as the example test
  e2e/login-page.spec.js
Due: eslint

Start working on table filter tests. Finally!
  e2e/table-filters.spec.js
Due: eslint

Write the fabled failing test to catch that bug!
  e2e/table-filters.spec.js
Due: eslint

Make patterns tests more robust, update snapshots
  e2e/patterns-page.spec.js
  e2e/patterns-page.spec.js-snapshots/patterns-dark-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-webkit-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-webkit-darwin.png
Due: eslint

Path conditions:
  pending-migrations: any of: \.py$
  stylelint: any of: \.css$
  eslint: any of: \.(js|mjs|cjs)$
