Repository piepworks/cassettenest: changes, and which pre-commit hooks are due for each by the changed paths.
All: pending-migrations, stylelint, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        exclude: |
          (?x)^(
            inventory/migrations/.*
          )$
  - repo: local
    hooks:
      - id: pending-migrations
        name: Check for pending migrations
        language: system
        entry: venv/bin/python manage.py makemigrations --check --dry-run
        types: [python]
        pass_filenames: false
      - id: stylelint
        name: Run Stylelint
        language: system
        entry: npx stylelint "tailwind/main.css"
        types: [css]
        pass_filenames: false
      - id: eslint
        name: Run ESLint
        language: system
        entry: npx eslint --ext .js ./inventory/templates/js
        types: [javascript]
        pass_filenames: false

Fine tune that VS Code CSS rule.
  .vscode/settings.json
Due: none

Fix more Tailwind v4 stuff.
  inventory/templates/500.html
  inventory/templates/_hamburger.html
  inventory/templates/_menu.html
  inventory/templates/base_site.html
  inventory/templates/components/card.html
  inventory/templates/components/message.html
  inventory/templates/components/reminder.html
  inventory/templates/components/section.html
  inventory/templates/components/tabs.html
  inventory/templates/inventory/_heading-buttons.html
  inventory/templates/inventory/camera_back_detail.html
  inventory/templates/inventory/camera_detail.html
  inventory/templates/inventory/logbook.html
  inventory/templates/inventory/settings.html
  inventory/templates/inventory/stock.html
  inventory/templates/inventory/stock_add.html
  inventory/templates/offline.html
  tailwind/main.css
Due: stylelint

Fix desktop sidebar menu toggle.
  inventory/templates/_menu.html
  tailwind/main.css
Due: stylelint

Update even more tw4 things.
  inventory/templates/components/logbook-pagination.html
  inventory/templates/components/reminder.html
  inventory/templates/components/section.html
  inventory/templates/inventory/camera_back_detail.html
  inventory/templates/offline.html
  inventory/templates/patterns.html
  tailwind/main.css
Due: stylelint

TW4 border fix.
  tailwind/main.css
Due: stylelint

Patterns page looking much closer now.
  inventory/templates/patterns.html
  tailwind/main.css
Due: stylelint

Get forms looking right.
  tailwind/main.css
Due: stylelint

Forms looking as good as or better than before.
  .gitignore
  tailwind/components/forms.css
  tailwind/main.css
Due: stylelint

Things looking good enough to update these.
  e2e/patterns-page.spec.js-snapshots/patterns-dark-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-webkit-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-webkit-darwin.png
Due: none

ESLint, Prettier, Stylelint -> Biome
  .pre-commit-config.yaml
  .prettierrc.json
  .stylelintrc.js
  .vscode/settings.json
  biome.json
  e2e/auth.setup.js
  e2e/login-page.spec.js
  e2e/patterns-page.spec.js
  e2e/table-filters.spec.js
  eslint.config.js
  inventory/fixtures/film.json
  inventory/templates/js/color-preference.js
  inventory/templates/js/confirmation.js
  inventory/templates/js/htmx-fade.js
  inventory/templates/js/markdown-autocomplete.js
  inventory/templates/js/menu.js
  inventory/templates/js/sw.js
  package-lock.json
  package.json
  playwright.config.js
  tailwind/components/forms.css
  tailwind/main.css
  tests-examples/demo-todo-app.spec.js
Due: stylelint, eslint

Fix custom light/dark mode stuff.
  tailwind.config.js
  tailwind/main.css
Due: stylelint, eslint

Fix reminder tab radius, move to its own file.
  tailwind/components/reminder-square.css
  tailwind/main.css
Due: stylelint

Remove some now redundant classes.
  inventory/templates/inventory/camera_back_detail.html
  inventory/templates/inventory/camera_detail.html
Due: none

Update README.
  README.md
Due: none

Fix some light/dark mode weirdness.
  tailwind/main.css
Due: stylelint

Updates.
  package-lock.json
  requirements.txt
Due: none

Keep VS Code happy.
  .vscode/settings.json
Due: none

Make sure color prefs don't mess up Playwright.
  e2e/start-django.sh
  inventory/management/__init__.py
  inventory/management/commands/__init__.py
  inventory/management/commands/color_preference.py
Due: pending-migrations

Use "vendorized" version of htmx from django-htmx.
  inventory/templates/base_site.html
  static/js/vendor/htmx-1.9.10.min.js
Due: eslint

A few housekeeping things.
  .github/workflows/playwright.yml
  .zed/settings.json
  justfile
Due: none
