Repository piepworks/cassettenest: changes, and which pre-commit hooks are due for each by the changed paths.
All: pending-migrations, stylelint, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        exclude: |
          (?x)^(
            inventory/migrations/.*
          )$
  - repo: local
    hooks:
      - id: pending-migrations
        name: Check for pending migrations
        language: system
        entry: venv/bin/python manage.py makemigrations --check --dry-run
        types: [python]
        pass_filenames: false
      - id: stylelint
        name: Run Stylelint
        language: system
        entry: npx stylelint "tailwind/main.css"
        types: [css]
        pass_filenames: false
      - id: eslint
        name: Run ESLint
        language: system
        entry: npx eslint --ext .js ./inventory/templates/js
        types: [javascript]
        pass_filenames: false

Update htmx and hyperscript
  inventory/templates/base_site.html
  static/js/vendor/htmx-1.8.6.min.js
  static/js/vendor/htmx-1.9.2.min.js
  static/js/vendor/hyperscript-0.9.8.min.js
  static/js/vendor/hyperscript-0.9.9.min.js
Due: eslint

Re-break the "double bounce on htmx selects" :(
  inventory/templates/components/section.html
  inventory/templates/components/tabs.html
  inventory/templates/inventory/_inventory-content.html
  inventory/templates/inventory/_stocks-content.html
Due: none

Sentry fix, Load data for the Playwright on GitHub
  .github/workflows/playwright.yml
  e2e/django-fixtures.json
  film/settings.py
Due: pending-migrations

Hopefully fix Playwright pre-commit hook
  .pre-commit-config.yaml
Due: none

Update README
  README.md
Due: none

Update stuff
  e2e/patterns-page.spec.js-snapshots/patterns-dark-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-firefox-darwin.png
  package-lock.json
  requirements.txt
Due: none

Update Playwright, update yaml formatting.
  .github/workflows/playwright.yml
  package-lock.json
  package.json
Due: none

Update Paddle allowed IP addresses
  inventory/utils_paddle.py
Due: pending-migrations

Generate some `-linux` screenshots on GitHub
  .github/workflows/playwright.yml
Due: none

Add screenshots from previous commit
  e2e/patterns-page.spec.js-snapshots/patterns-dark-chromium-linux.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-firefox-linux.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-webkit-linux.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-chromium-linux.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-firefox-linux.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-webkit-linux.png
Due: none

Update stuff
  package-lock.json
  requirements.txt
Due: none

Install and set up django-registration
  film/settings.py
  film/urls.py
  inventory/admin.py
  inventory/templates/django_registration/activation_complete.html
  inventory/templates/django_registration/activation_email_body.txt
  inventory/templates/django_registration/activation_email_subject.txt
  inventory/templates/django_registration/activation_failed.html
  inventory/templates/django_registration/registration_closed.html
  inventory/templates/django_registration/registration_complete.html
  inventory/templates/django_registration/registration_form.html
  inventory/templates/registration/login.html
  requirements.in
  requirements.txt
Due: pending-migrations

Customize registration
  film/urls.py
  inventory/tests/test_views.py
  inventory/views.py
Due: pending-migrations

Automatically log in when activated
  inventory/views.py
Due: pending-migrations

Improve test coverage and speed!
  .github/workflows/django.yml
  inventory/tests/test_admin.py
  inventory/tests/test_views.py
  requirements.in
  requirements.txt
Due: pending-migrations

Nice looking registration complete page
  inventory/templates/django_registration/registration_complete.html
Due: none

Fix Playwright in Pytest
  inventory/tests/test_ui.py
Due: pending-migrations

Customize activation email sender
  film/settings.py
Due: pending-migrations

Make activation email sound less sarcastic
  inventory/templates/django_registration/activation_email_body.txt
Due: none

Get tests on GitHub to pass again. Hopefully.
  .github/workflows/django.yml
  .github/workflows/playwright.yml
Due: none

Adjust things to be able to use Mailpit
  film/settings.py
Due: pending-migrations

Update Paddle webhook to use email instead of ID
  inventory/tests/test_views.py
  inventory/views.py
Due: pending-migrations

Redirect old registration URL
  film/urls.py
Due: pending-migrations

Update stuff
  requirements.txt
Due: none

Hopefully stop Sentry errors from Fly IP address
  inventory/middleware.py
Due: pending-migrations

Fix bug when pushing a roll
  inventory/models.py
Due: pending-migrations

Really fix push_pull on camera load page too
  inventory/models.py
  inventory/views.py
Due: pending-migrations

Finish a roll and immediately reload camera/back
  inventory/templates/inventory/_form-finish-roll.html
  inventory/views.py
Due: pending-migrations

Add some test coverage
  inventory/tests/test_views.py
  inventory/views.py
Due: pending-migrations

Fix dev/coverage script
  dev/coverage
Due: none

Don't allow loading a multi-back camera directly
  inventory/tests/test_views.py
  inventory/views.py
Due: pending-migrations

Remove deprecated setting
  .vscode/settings.json
Due: none

Update Python stuff
  requirements.txt
Due: none

Revamp film/roll picker fields
  e2e/patterns-page.spec.js-snapshots/patterns-dark-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-dark-webkit-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-chromium-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-firefox-darwin.png
  e2e/patterns-page.spec.js-snapshots/patterns-light-webkit-darwin.png
  inventory/fields.py
  inventory/forms.py
  inventory/templates/components/form-field.html
  inventory/templates/inventory/_film-selector.html
  inventory/templates/inventory/_form-roll.html
  inventory/templates/inventory/_project-add-rolls.html
  inventory/templates/inventory/roll_add.html
  inventory/templates/inventory/rolls_add.html
  inventory/views.py
  tailwind/main.css
Due: pending-migrations, stylelint

Fix failing test
  inventory/tests/test_views.py
Due: pending-migrations
